* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

.ant-card-body {
  padding: 0px;
}
